

body{
  font-family: 'Abel', sans-serif;
  margin: 0px;
  overflow-x:hidden;
  overflow-y:auto;
  background-color:white;
  color:#424242;
}


nav{
  /* background-color:whitesmoke; 
    opacity: 0.5;  */
  /* background-color:white; */
  
  box-shadow:1px 1px 4px grey;
  background: rgba(255,255,255,0.5);
  -webkit-box-shadow:none;
  
}



.nav-wrapper{  
  margin: 0 3rem 2.5rem;   
}

a.brand-logo {
  color:#212121;
}
nav ul a {
  color:#212121;
  font-size:1.5rem;
}

.section{
  margin:3rem 0 3rem 0;
}

.sub-section{
  margin-top:3rem;
}

#myPic{
  margin: 1rem 2rem 1rem auto;
}
#mainPic{
 width:100%;
 opacity: 0.2;
  
}

#secondPic{
  width:100%;
  opacity: 0.2;
   
 }
h4 {
  color:#424242;
  font-weight:none;
  margin-bottom:5rem;
}
p.subTitle{

  font-size:2rem;
  margin-top:5rem;
  
}

.sub-skill{
  position: relative;
  display: inline-block;
  text-align: center;
  margin-left: 10rem;
}



h5::before,
h5::after {
  content: '';
  height: 20%;
  display: block;
  position: absolute;
  top: 0;
}

h5::before {
  margin-top:0.5rem;
  background:#dcedc8;
  width: 20vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
  text-align:center
}

h5::after {
  height: 100%;
  background: white;
  left: -.1em;
  right: -.1em;
  z-index: -1;
  text-align:center
}

h5{
  font-weight:bold;
  text-align:center;
}
p{
  font-size:1.5rem;
}
.portfolioLink a{
  color:blue
}
#resume::before{
  content:" ";
  background:red;
  display:block;
  width:5px;
  height:5px;

}

#resume::after{
  content:" ";
  background: red;
  display:block;
  width:5px;
  height:5px;

}

a{
  color:#424242
}
p.resume{
  margin:0;
  font-size:1.2rem;
  
}
img.activator{
  height:10vw;
}

.cardtext {
  font-size:1.2rem;
}
li {
  font-size:1.2rem;
  margin:0 auto 0.5rem auto;
  
}
.material-icons{
  /* font-size: 1rem; */
  margin:0;
}
#contact_icon{
  
  color:#aed581;
  font-size: 2rem;
  font-weight:none;
  text-align:center;
  margin-left:auto;
  padding:0 5rem 0 auto;
  
}

.contactText{
  font-size:1.2rem;
  text-align:left;
  font-family: 'Abel', sans-serif;
  color:#424242;
  font-weight:none;
}

#social_icon{
  
  color:#aed581;
  font-size: 2rem;
  font-weight:none;
  text-align:center;
  margin: 0 auto 0 2rem;
 
  
}


#social{
  font-size:1.6rem;
  text-align:left;
}


.icon-col{
  padding:0.5rem;
}
.logo_row{
  margin: 0 auto 0 2rem;
}
.logo{
  margin: 1rem;
  vertical-align: middle;
  
}

h5{
  text-align: center;
  
}

.row{
  margin-top:3rem;
}
